body {
  display: flex;
}

div.image-sidebar {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%
}

.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 100%;
  top: 25%;
  background-color: rgba(0,0,0,.5);
  color: white;
}

div.logo>img {
  height: 1.5em;
  color: white;
  opacity: 1;
}

div.logo>p {
  margin: 0;
  color: white;
  opacity: 1;
}

.photo-attribution {
  position: absolute;
  bottom: 0%;
  color: white;
}

.header-text {
  background-color: antiquewhite;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-around;
}